planeTicketBooking/.vs/planeTicketBooking/v15/Server/sqlite3/db.lock
planeTicketBooking/.vs/config/applicationhost.config
planeTicketBooking/.vs/planeTicketBooking/v15/.suo
planeTicketBooking/.vs/planeTicketBooking/v15/Server/sqlite3/storage.ide
planeTicketBooking/.vs/planeTicketBooking/v15/Server/sqlite3/storage.ide-shm
planeTicketBooking/.vs/planeTicketBooking/v15/Server/sqlite3/storage.ide-wal
planeTicketBooking/planeTicketBooking/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
planeTicketBooking/planeTicketBooking/obj/Debug/planeTicketBooking.csproj.CoreCompileInputs.cache
planeTicketBooking/planeTicketBooking/obj/Debug/planeTicketBooking.dll
planeTicketBooking/planeTicketBooking/obj/Debug/planeTicketBooking.pdb
planeTicketBooking/planeTicketBooking/obj/Debug/planeTicketBooking.csprojResolveAssemblyReference.cache
planeTicketBooking/planeTicketBooking/obj/Debug/planeTicketBooking.csproj.CoreCompileInputs.cache
planeTicketBooking/.vs/planeTicketBooking/v15/Server/sqlite3/storage.ide-shm
planeTicketBooking/.vs/config/applicationhost.config
 planeTicketBooking/planeTicketBooking/bin/planeTicketBooking.dll
planeTicketBooking/planeTicketBooking/bin/planeTicketBooking.pdb
planeTicketBooking/planeTicketBooking/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
planeTicketBooking/planeTicketBooking/obj/Debug/planeTicketBooking.dll
planeTicketBooking/planeTicketBooking/obj/Debug/planeTicketBooking.pdb 
