
planeTicketBooking/.vs/planeTicketBooking/v15/Server/sqlite3/db.lock
planeTicketBooking/planeTicketBooking/bin/planeTicketBooking.dll
planeTicketBooking/planeTicketBooking/bin/planeTicketBooking.pdb
planeTicketBooking/planeTicketBooking/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
planeTicketBooking/planeTicketBooking/obj/Debug/planeTicketBooking.dll
planeTicketBooking/planeTicketBooking/obj/Debug/planeTicketBooking.pdb
planeTicketBooking/planeTicketBooking/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
