<!-- Footer widget -->
<div class="footer-widget-wrapper" style="background:#fff;height:160px;border:none;">
    <div class="container" style="padding: 0px;">
        <div class="row">
            <div class="col-md-4" style="border-right: 1px solid #dcdcdc;">
                <div class="col-md-2">
                    <div style="width:60px;height:60px;border-radius:60px;border: solid 3px #e1e1e1;text-align: center;vertical-align:middle;">
                        <span style="height: 100%;vertical-align: middle;display: inline-block;"></span>
                        <img src="~/img/ticket.png" style="width:45px; height:45px;vertical-align: middle;"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <h5 style="font-family:微软雅黑; font-size: 24px; font-weight: 400;font-weight:400;">出票保障</h5>
                    <p style="font-family:微软雅黑;font-size:14px; color:#888;">若未按订单出票，承担差价并先行赔偿500元</p>
                </div>
            </div>
            <div class="col-md-3" style="padding: 0px 5px 0px 5px;">
                <div class="col-md-2">
                    <div style="width:60px;height:60px;border-radius:60px;border: solid 3px #e1e1e1;text-align: center;vertical-align:middle;">
                        <span style="height: 100%;vertical-align: middle;display: inline-block;"></span>
                        <img src="~/img/plane.png" style="width:40px; height:40px;vertical-align: middle;" />
                    </div>
                </div>
                <div class="col-md-8" style="padding: 0px 5px 0px 5px;">
                    <h5 style="font-family:微软雅黑; font-size: 24px; font-weight: 400;font-weight:400;">出行保障</h5>
                    <p style="font-family:微软雅黑; font-size:14px; color:#888;">
                        若无法正常办理乘机，承担差价并先行赔偿500元
                    </p>
                </div>
            </div>
            <div class="col-md-4" style="border-left: 1px solid #dcdcdc;">
                <div class="col-md-2">
                    <div style="width:60px;height:60px;border-radius:60px;border: solid 3px #e1e1e1;text-align: center;vertical-align:middle;">
                        <span style="height: 100%;vertical-align: middle;display: inline-block;"></span>
                        <img src="~/img/rmb.png" style="width:40px; height:40px;vertical-align: middle;" />
                    </div>
                </div>
                <div class="col-md-8">
                    <h5 style="font-family:微软雅黑; font-size: 24px; font-weight: 400;font-weight:400;">退款保障</h5>
                    <p style="font-family:微软雅黑; font-size:14px; color:#888;">
                        国内2小时内完成自愿退款操作<br />
                        国际4个工作日内完成退款操作
                    </p>
                </div>
            </div>
            <div class="col-md-12" style="text-align:center;margin-top:15px;">
                <p>本保障不适用于航空公司官网跳转、预约机票产品</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer widget -->
<!-- Footer -->
<div class="footer-wrapper" style="height: 150px;background: #fff;margin-bottom: -20px !important;">
    <div class="container">
        <div class="row">
            <div class="span12">
                <footer>
                    <div class="footer-nav">
                        <ul style="color:#999;">
                            <li><a href="#">关于N-Travel</a></li>
                            <li><a href="#">业务合作</a></li>
                            <li><a href="#">加入我们</a></li>
                            <li><a href="#">“严重违规失信”专项整治举报</a></li>
                            <li><a href="#">安全中心</a></li>
                            <li><a href="#">关于我们</a></li>
                        </ul>
                    </div>
                    <div class="footer-nav">
                        <img src="~/img/footer.png" />
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
