<!-- Footer widget -->
<div class="footer-widget-wrapper" style="background:#fff;height:160px;  ">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                出票保障
            </div>
            <div class="col-md-3">
                出行保障
            </div>
            <div class="col-md-3">
                退款保障
            </div>
            <div class="">

            </div>
        </div>
    </div>
</div>
<!-- Footer widget -->
<!-- Footer -->
<div class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">

                <footer>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">About US</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Serbice</a></li>
                            <li><a href="#">Recruiment </a></li>
                            <li><a href="#">Media</a></li>
                            <li>More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></li>
                        </ul>
                    </div>
                </footer>

            </div>
        </div>
    </div>
</div>
<!-- Footer -->
